body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #FFF;
    color: #337AB7;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #337AB7;
    color: #FFF;
}
.welcome-section {
    height: 650px;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.about-section {
    height: 900px;
    padding-top: 50px;
    text-align: center;
    background: #E4FFFF;
}
.whatwedo-section {
    height: 1200px;
    padding-top: 50px;
    text-align: center;
    background: #FFF;
}
.contact-section {
    height: 550px;
    padding-top: 50px;
    text-align: center;
    background: #e4FFFF;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #333;
	background-color: #F0F0F0;
}
.navbar-default {
    background-color: #e4FFFF;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}



